doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet' href='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/mycss.css')
    script(src='http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js')
    script.
      $(function (){
        $(document).ready(function(){
          $('.btn-delete').click(del); //模态框里的删除按钮 触发ajax
          $('.btn-search').click(search); //搜索栏的搜索按钮 触发ajax
          $('body').on('click','.btn-del',function() { //表格里的删除按钮 将该行对应的id传递给模态框
            $('#del_confirm').html('确认删除 id = ' + $(this).attr("data-id")+' 的角色?');
            $('#del_id').html($(this).attr("data-id"));
          });
        });
      });
      
      function del() {
        let id = $(this).parent().prev().html();
        $.ajax(
          {
            url:'/role_manage',
            data:{content:id,action:3},
            type:"post",
            beforeSend: function() {
              $("#tips1").html("<span style='color:blue'>正在处理...</span>");
            },
            success: function(result) {
              if (result) {
                alert(result.ret);
                location.reload();
              } else {
                $("#tips1").html("<span style='color:blue'>出现错误！</span>");
              }
            },
            error: function() {
              alert('请求出错');
            },
            complete: function() {
              $('#tips1').hide();
            }
          }
        );
      }
      function search() { 
        //因为roles表查询涉及外键，逻辑比较复杂，这里改成通过字符串模式匹配，将不匹配的行隐藏，达到搜索效果
        let content = $.trim($('#searchBox').val());
        if (content) {
          $('tbody tr').addClass('hidden');
          $('tbody td').each(function() {
            var text = $(this).html();
            if (text.indexOf(content) != -1) {
              $(this).parent().removeClass('hidden');
            } 
          });
        } else {
          alert('There is no condition!');
        }
      } 

  body
    div.container
      div.row
        ul.list-inline
          li.col-lg-3.nonpadding
            p.content-title=title
          li.col-lg-6.nonpadding
          li.float-right.col-lg-3.nonpadding
            div.input-group
              span.input-group-btn
                button.btn.btn-warning(type='button',data-toggle="modal",data-target="#add") 添加
              input#searchBox.form-control(type='text',placeholder='输入关键字，支持模糊查询',required)
              span.input-group-btn
                button.btn.btn-warning.btn-search(type='button') 搜索
            
      div.row
        table.table
          thead
            tr
              th 序号
              th 用户名称
              th 项目名称
              th 机构名称
              th 类型
              th 状态
              th 创建日期
              th 修改日期
              th 修改
              th 删除
          tbody
            each result in results.results
              tr
              each val in result
                td.success #{val}
              td.success 
                - var info = result
                button(type='button' class='btn btn-primary btn-xs btn-block btn-upd' data-result=info data-toggle="modal",data-target="#update") 修改
              td.success 
                - var id = result.id
                button(type='button' class='btn btn-danger btn-xs btn-block btn-del' data-id=id data-toggle="modal",data-target="#delete") 删除
      
      //删除用户的模态框
      div.modal.fade#delete(tabindex='-1',role='dialog',aria-labelledby='delLabel',aria-hidden='true')
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
              h4 删除项目
            div.modal-body#del_confirm 确认删除？
            div#del_id(style="display:none") 存储待删除的id
            div.modal-footer
              button.btn.btn-default(type='button' data-dismiss='modal') 取消
              button.btn.btn-danger.btn-delete(type='submit') 确认删除
            span#tips1
      //添加项目的模态框
      div.modal.fade#add(tabindex='-1',role='dialog',aria-labelledby='addLabel',aria-hidden='true')
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
              h4 添加新角色
            div.modal-body 
              form.form-horizontal(role='form')
                div.form-group
                  label.col-sm-2.control-label 用户
                  div.col-sm-7
                    select.form-control#user
                      each user in results.users
                        option(value=) #{key}.#{val}
                  div.col-sm-3
                    p#warning1(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 项目
                  div.col-sm-7
                    input.form-control#name(type='text' placeholder='请输入项目名称(必填)',value='') 
                  div.col-sm-3
                    p#warning2(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 机构
                  div.col-sm-7
                    input.form-control#state(type='text' placeholder='请输入项目地址(必填)',value='')
                  div.col-sm-3
                    p#warning3(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 类型
                  div.col-sm-7
                    input.form-control#type(type='text' placeholder='请输入项目状态(必填)',value='') 
                  div.col-sm-3
                    p#warning5(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 状态
                  div.col-sm-7
                    input.form-control#due_date(type='text' placeholder='请输入截止日期',value='')
                  div.col-sm-3
                    p#warning6(style='color:#ff0000')
            div.modal-footer
              button.btn.btn-default(type='button' data-dismiss='modal') 取消
              button.btn.btn-primary.btn-add(type='submit') 确认添加
            span#tips