doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet' href='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/mycss.css')
    script(src='http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js')
    script.
      Handlebars.registerHelper('timestamps', function(timestamps){
        return new Date(timestamps).toString();
     });
    script#table-template(type="text/x-handlebars-template").
      {{#each users}}
        <tr class="success">
          <td>{{id}}</td>
          <td>{{email}}</td>
          <td>{{name}}</td>
          <td>{{phone}}</td>
          <td>{{address}}</td>
          <td>{{site}}</td>
          <td>{{title}}</td>
          <td>{{state}}</td>
          <td>{{type}}</td>
          <td>{{timestamps created_at}}</td>
          <td>{{timestamps updated_at}}</td>
          <td><button class="btn btn-info btn-xs btn-block btn-upd" type="button" data-toggle="modal" data-target="#update" data-result='{"id":{{id}},"email":"{{email}}","name":"{{name}}","phone":"{{phone}}","address":"{{address}}","site":"{{site}}","title":"{{title}}","state":"{{state}}","type":"{{type}}"}'>修改基本信息</button></td>
          <td><button class="btn btn-primary btn-xs btn-block btn-upd-password" type="button" data-toggle="modal" data-target="#update_password" data-id={{id}}>修改密码</button></td>
          <td><button class="btn btn-danger btn-xs btn-block btn-del" type="button" data-toggle="modal" data-target="#delete" data-id={{id}}>删除</button></td>
        </tr>
      {{/each}}
    script.
      $(function (){
        $(document).ready(function(){
          $('.btn-add').click(add); //模态框里的添加按钮 触发ajax
          $('.btn-delete').click(del); //模态框里的删除按钮 触发ajax
          $('.btn-search').click(search); //搜索栏的搜索按钮 触发ajax
          $('.btn-update').click(update); //模态框里的修改按钮 触发ajax
          $('.btn-update-password').click(update_password); //模态框里的修改按钮 触发ajax
          $('body').on('click','.btn-upd',function() { //表格里的修改基本信息按钮 将该行的信息写入模态框
            let origin_info = $(this).attr("data-result");
            let info_obj = eval('('+origin_info+')'); //string to json
            $('#id_upd').val(info_obj.id);
            $('#email_upd').val(info_obj.email);
            $('#name_upd').val(info_obj.name);
            $('#phone_upd').val(info_obj.phone);
            $('#address_upd').val(info_obj.address);
            $('#site_upd').val(info_obj.site);
            $('#title_upd').val(info_obj.title);
            $('#state_upd').val(info_obj.state);
          });
          $('body').on('click','.btn-upd-password',function() { //表格里的修改基本密码按钮 将该行对应的id传递给模态框
            $('#upd_pass_id').html($(this).attr("data-id"));
          });
          $('body').on('click','.btn-del',function() { //表格里的删除按钮 将该行对应的id传递给模态框
            $('#del_confirm').html('确认删除 id = ' + $(this).attr("data-id")+' 的用户?');
            $('#del_id').html($(this).attr("data-id"));
          });
          $('#searchBox').bind('input propertychange',function() { //实时监听搜索框的内容，当内容变为空时，刷新页面
            if ($.trim($('#searchBox').val()) == '') {
              location.reload();
            }
          });
          $('body').on('click','.page',function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
            let page = $(this).attr("page");
            let search_content = $('#searchBox').val();
            let action = 0;
            if (page == 'first') {
              fetch_num = 1
            } else if (page == 'last') {
              fetch_num = $(this).attr("page_max")
            } else {
              fetch_num = $(this).attr("page")
            }
            if (search_content) {
              action = 5;
            }
            let content = {
              page: page,
              search_content: search_content
            }
            $.ajax(
              {
                url:'/user_manage',
                data:{content:content,action:action},
                type:"post",
                success: function(result) {
                  let tbody = $('tbody');
                  tbody.html("");
                  var tableTemplate = Handlebars.compile($("#table-template").html()); //使用handlebars模板完成数据的循环填充和变量插入
                  $("tbody").html(tableTemplate(result));
                }
              }
            );
          });
        });
      });
        
      function add() {
        let email = $('#email').val();
        let password = $('#password').val();
        let password_confirm = $('#password_confirm').val();
        let name = $('#name').val();
        let phone = $('#phone').val();
        let address = $('#address').val();
        let site = $('#site').val();
        let title = $('#title').val();
        let state = $('#state').val();
        let type = $('#type').val();
        if ($.trim(email) == '') {
          $('#warning1').text('邮箱为必填项！');
          return;
        } else {
          $('#warning1').text('');
        }
        if ($.trim(password) == '') {
          $('#warning2').text('密码为必填项！');
          return;
        } else {
          $('#warning2').text('');
        } 
        if ($.trim(password_confirm) == '') {
          $('#warning3').text('请再次输入密码！');
          return;
        } else {
          $('#warning3').text('');
        } 
        if ($.trim(name) == '') {
          $('#warning4').text('姓名为必填项！');
          return;
        } else {
          $('#warning4').text('');
        }
        if ($.trim(password) != $.trim(password_confirm)) {
          $('#warning2').text('两次输入密码不相同！');
          $('#warning3').text('两次输入密码不相同！');
        } else {
          let newUser = {
            "email":email,
            "password":password,
            "name":name,
            "phone":phone,
            "address":address,
            "site":site,
            "title":title,
            "state":state,
            "type":type
          };
          $.ajax(
            {
              url:'/user_manage',
              data:{content:newUser,action:2},
              type:"post",
              beforeSend: function() {
                $("#tips").html("<span style='color:blue'>正在处理...</span>");
              },
              success: function(result) {
                if (result) {
                  alert(result.ret);
                  location.reload();
                } else {
                  $("#tips").html("<span style='color:blue'>出现错误！</span>");
                }
              },
              error:function() {
                alert('请求出错');
              },
              complete:function() {
                $('#tips').hide();
              }
            }
          );
          return false;
        }
      }
      function del() {
        let id = $(this).parent().prev().html();
        $.ajax(
          {
            url:'/user_manage',
            data:{content:id,action:3},
            type:"post",
            beforeSend: function() {
              $("#tips1").html("<span style='color:blue'>正在处理...</span>");
            },
            success: function(result) {
              if (result) {
                alert(result.ret);
                location.reload();
              } else {
                $("#tips1").html("<span style='color:blue'>出现错误！</span>");
              }
            },
            error:function() {
              alert('请求出错');
            },
            complete:function() {
              $('#tips1').hide();
            }
          }
        );
      }
      function search() {
        let content = $('#searchBox').val();
        if (content) {
          $.post('/user_manage',{content:content,action:1},function(result){
            let length = result.len;
            if ($.isEmptyObject(result.users)) { //如果没有查询到数据则返回提示
              alert(`
              No result matched the given condition!

              Please retry!`);
            } else { //如果查询到数据则动态生成表格               
              let tbody = $('tbody');
              tbody.html("");
              var tableTemplate = Handlebars.compile($("#table-template").html()); //使用handlebars模板完成数据的循环填充和变量插入
              $("tbody").html(tableTemplate(result));
              let page = $('#pagination');
              page.html("");
              $('<li class="page" page="first"><a>&laquo</a></li>').appendTo(page);
              for (var i = 1;i < result.page_num+1;i++) {
                $('<li class="page" page='+i+'><a>'+i+'</a></li>').appendTo(page);
              }
              $('<li class="page" page="last" page_max='+result.page_num+'><a>&raquo</a></li>').appendTo(page);
            }
          });
        } else {
          alert('There is no condition!');
        }
      } 
      function update() {
        let id = $('#id_upd').val();
        let email = $('#email_upd').val();
        let name = $('#name_upd').val();
        let phone = $('#phone_upd').val();
        let address = $('#address_upd').val();
        let site = $('#site_upd').val();
        let title = $('#title_upd').val();
        let state = $('#state_upd').val();
        let type = $('#type_upd').val();
        if ($.trim(email) == '') {
          $('#warning4').text('邮箱为必填项！');
          return;
        } else {
          $('#warning4').text('');
        }
        if ($.trim(name) == '') {
          $('#warning7').text('姓名为必填项！');
          return;
        } else {
          $('#warning7').text('');
          let newUser = {
            "id":id,
            "email":email,
            "name":name,
            "phone":phone,
            "address":address,
            "site":site,
            "title":title,
            "state":state,
            "type":type
          };
          $.ajax(
            {
              url:'/user_manage',
              data:{content:newUser,action:4},
              type:"post",
              beforeSend: function() {
                $("#tips2").html("<span style='color:blue'>正在处理...</span>");
              },
              success: function(result) {
                if (result) {
                  alert(result.ret);
                  location.reload();
                } else {
                  $("#tips2").html("<span style='color:blue'>出现错误！</span>");
                }
              },
              error:function() {
                alert('请求出错');
              },
              complete:function() {
                $('#tips2').hide();
              }
            }
          );
          return false;
        }
      }
      function update_password() {
        let id = $(this).parent().prev().html();
        let password = $('#password_upd').val();
        let password_confirm = $('#password_confirm_upd').val();
        if ($.trim(password) == '') {
          $('#warning7').text('密码为必填项！');
          return;
        } else {
          $('#warning7').text('');
        } 
        if ($.trim(password_confirm) == '') {
          $('#warning8').text('请再次输入密码！');
          return;
        } else {
          $('#warning8').text('');
        } 
        if ($.trim(password)  != $.trim(password_confirm)) {
          $('#warning7').text('两次输入密码不相同！');
          $('#warning8').text('两次输入密码不相同！');
        } else {
          let info = {
            "id":id,
            "password":password
          };
          $.ajax(
            {
              url:'/user_manage',
              data:{content:info,action:6},
              type:"post",
              beforeSend: function() {
                $("#tips3").html("<span style='color:blue'>正在处理...</span>");
              },
              success: function(result) {
                if (result) {
                  alert(result.ret);
                  location.reload();
                } else {
                  $("#tips3").html("<span style='color:blue'>出现错误！</span>");
                }
              },
              error:function() {
                alert('请求出错');
              },
              complete:function() {
                $('#tips3').hide();
              }
            }
          );
        }
      }

  body
    div.container
      div.row
        ul.list-inline
          li.col-lg-3.nonpadding
            p.content-title=title
          li.col-lg-6.nonpadding
          li.float-right.col-lg-3.nonpadding
            div.input-group
              span.input-group-btn
                button.btn.btn-warning(type='button',data-toggle="modal",data-target="#add") 添加新用户
              input#searchBox.form-control(type='text',placeholder='输入关键字，支持模糊查询',required)
              span.input-group-btn
                button.btn.btn-warning.btn-search(type='button') 搜索
            
      div.row
        table.table
          thead
            tr
              th 序号
              th 邮箱
              th 姓名
              th 手机号
              th 单位地址
              th 工作单位
              th 职务
              th 状态
              th 类别
              th 创建日期
              th 修改日期
              th 修改基本信息
              th 修改密码
              th 删除
          tbody
            each result in results.results
              tr
              each val in result
                td.success #{val}
              td.success 
                - var info = result
                button(type='button' class='btn btn-info btn-xs btn-block btn-upd' data-result=info data-toggle="modal",data-target="#update") 修改基本信息
              td.success 
                - var id = result.id
                button(type='button' class='btn btn-primary btn-xs btn-block btn-upd-password' data-id=id data-toggle="modal",data-target="#update_password") 修改密码
              td.success 
                - var id = result.id
                button(type='button' class='btn btn-danger btn-xs btn-block btn-del' data-id=id data-toggle="modal",data-target="#delete") 删除
      //分页组件
      div.row(style="text-align:center;")
        ul.pagination#pagination(style="margin:0 auto;")
          li.page(page="first")
            a &laquo;
          - for (var i = 1; i < results.page_num+1; i++)
            li.page(page=i): a #{i}
          li.page(page="last" page_max=results.page_num)
            a &raquo;
      //重置用户密码的模态框
      div.modal.fade#update_password(tabindex='-1',role='dialog',aria-labelledby='updpassLabel',aria-hidden='true')
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
              h4 重置密码
            div.modal-body
              form.form-horizontal(role='form')
                div.form-group
                  label.col-sm-2.control-label 密码
                  div.col-sm-7
                    input.form-control#password_upd(type='password',placeholder='请输入密码(必填)',value='',required)
                  div.col-sm-3
                    p#warning7(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 确认密码
                  div.col-sm-7
                    input.form-control#password_confirm_upd(type='password',placeholder='请再次输入密码(必填)',value='',required)
                  div.col-sm-3
                    p#warning8(style='color:#ff0000')
            div#upd_pass_id(style="display:none") 存储待重置的id
            div.modal-footer
              button.btn.btn-default(type='button' data-dismiss='modal') 取消
              button.btn.btn-primary.btn-update-password(type='submit') 确认重置
            span#tips3
      //修改用户基本信息的模态框
      div.modal.fade#update(tabindex='-1',role='dialog',aria-labelledby='updLabel',aria-hidden='true')
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
              h4 修改用户基本信息
            div.modal-body 
              form.form-horizontal(role='form')
                div.form-group
                  label.col-sm-2.control-label 邮箱
                  div.col-sm-7
                    input.form-control#email_upd(type='text',placeholder='请输入邮箱(必填)',value='',required)
                  div.col-sm-3
                    p#warning5(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 姓名
                  div.col-sm-7
                    input.form-control#name_upd(type='text',placeholder='请输入姓名(必填)',value='',required)
                  div.col-sm-3
                    p#warning6(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 手机号
                  div.col-sm-7
                    input.form-control#phone_upd(type='text' placeholder='请输入手机号码',value='') 
                div.form-group
                  label.col-sm-2.control-label 单位地址
                  div.col-sm-7
                    input.form-control#address_upd(type='text' placeholder='请输入单位地址',value='')
                div.form-group
                  label.col-sm-2.control-label 工作单位
                  div.col-sm-7
                    input.form-control#site_upd(type='text' placeholder='请输入工作单位',value='')
                div.form-group
                  label.col-sm-2.control-label 职务
                  div.col-sm-7
                    input.form-control#title_upd(type='text' placeholder='请输入职务',value='')
                div.form-group
                  label.col-sm-2.control-label 状态
                  div.col-sm-7
                    select.form-control#state_upd
                      option(value='VERIFIED') VERIFIED
                      option(value='PENDING') PENDING
                      option(value='DENY') DENY
                div.form-group
                  label.col-sm-2.control-label 类别
                  div.col-sm-7
                    select.form-control#type_upd
                      option(value='EXTERNAL' selected) EXTERNAL
                      option(value='INTERNAL') INTERNAL
            div#id_upd(style="display:none") 存储待修改项的id
            div.modal-footer
              button.btn.btn-default(type='button' data-dismiss='modal') 取消
              button.btn.btn-info.btn-update(type='submit') 确认修改
            span#tips2
      //删除用户的模态框
      div.modal.fade#delete(tabindex='-1',role='dialog',aria-labelledby='delLabel',aria-hidden='true')
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
              h4 删除用户
            div.modal-body#del_confirm 确认删除？
            div#del_id(style="display:none") 存储待删除的id
            div.modal-footer
              button.btn.btn-default(type='button' data-dismiss='modal') 取消
              button.btn.btn-danger.btn-delete(type='submit') 确认删除
            span#tips1
      //添加用户的模态框
      div.modal.fade#add(tabindex='-1',role='dialog',aria-labelledby='addLabel',aria-hidden='true')
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
              h4 添加新用户
            div.modal-body 
              form.form-horizontal(role='form')
                div.form-group
                  label.col-sm-2.control-label 邮箱
                  div.col-sm-7
                    input.form-control#email(type='text',placeholder='请输入邮箱(必填)',value='',required)
                  div.col-sm-3
                    p#warning1(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 密码
                  div.col-sm-7
                    input.form-control#password(type='password',placeholder='请输入密码(必填)',value='',required)
                  div.col-sm-3
                    p#warning2(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 确认密码
                  div.col-sm-7
                    input.form-control#password_confirm(type='password',placeholder='请再次输入密码(必填)',value='',required)
                  div.col-sm-3
                    p#warning3(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 姓名
                  div.col-sm-7
                    input.form-control#name(type='text',placeholder='请输入姓名(必填)',value='',required)
                  div.col-sm-3
                    p#warning4(style='color:#ff0000')
                div.form-group
                  label.col-sm-2.control-label 手机号
                  div.col-sm-7
                    input.form-control#phone(type='text' placeholder='请输入手机号码',value='') 
                div.form-group
                  label.col-sm-2.control-label 单位地址
                  div.col-sm-7
                    input.form-control#address(type='text' placeholder='请输入单位地址',value='')
                div.form-group
                  label.col-sm-2.control-label 工作单位
                  div.col-sm-7
                    input.form-control#site(type='text' placeholder='请输入机构名称',value='')
                div.form-group
                  label.col-sm-2.control-label 职务
                  div.col-sm-7
                    input.form-control#title(type='text' placeholder='请输入职务',value='')
                div.form-group
                  label.col-sm-2.control-label 状态
                  div.col-sm-7
                    select.form-control#state
                      option(value='VERIFIED') VERIFIED
                      option(value='PENDING') PENDING
                      option(value='DENY') DENY
                div.form-group
                  label.col-sm-2.control-label 类别
                  div.col-sm-7
                    select.form-control#type
                      option(value='EXTERNAL' selected) EXTERNAL
                      option(value='INTERNAL') INTERNAL
            div.modal-footer
              button.btn.btn-default(type='button' data-dismiss='modal') 取消
              button.btn.btn-primary.btn-add(type='submit') 确认添加
            span#tips